[submodule "the-odin-project-rock-paper-scissors"]
	path = the-odin-project-rock-paper-scissors
	url = git@github.com:Thiago-Morais/the-odin-project-rock-paper-scissors.git
	branch = main
[submodule "the-odin-project-flexbox-project"]
	path = the-odin-project-flexbox-project
	url = git@github.com:Thiago-Morais/the-odin-project-flexbox-project.git
