:root {
    --label-color: red;
    --form-control-color: blue;
    --form-control-disabled: #959495;
}

.form-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

label {
    color: var(--label-color);
}

input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;

    width: 1.15em; /* 1 + line-width */
    height: 1.15em; /* 1 + line-width */
    /* To make sure the box stays aligned with the bottom of the text */
    transform: translateY(-0.075em); /* - line-width / 2 */

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.7em; /* 1 - line-width * 2 */
    height: 0.7em; /* 1 - line-width * 2 */
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);

    color: var(--form-control-disabled);
    cursor: not-allowed;
}

.form-control--disabled {
    color: var(--form-control-disabled);
    cursor: not-allowed;
}

.form-control + .form-control {
    margin-top: 1em;
}
